body
{
background-color:#99FF99;
}

.bleu
{
color:blue;
}

.rouge
{
color:red;
}

.gras
{
font-weight:bold;
}

.italique
{
font-style:italic;
}

.centre
{
text-align:center;
}

table
{
border-collapse:collapse;
}

fieldset legend
{
font-weight:bold;
}

acronym:hover
{
font-weight:bold;
}

.validation:hover
{
color:green;
font-weight:bold;
}

.annulation:hover
{
color:red;
font-weight:bold;
}

#illustration img
{
float:left;
}

.sous_float_left
{
clear:left;
}

/* à corriger - ne fonctionne pas correctement 
#menu
{
float:left;
max-width:10%;
padding:2px;
margin:3px;
}

#corps
{
float:right;
}
*/

.petit_em
{
font-size:0.7em;
}
